.container {
  width: 900px;
  /* height: 700px; */
}


.main-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.buttons span button {
  width: 200px;
  height: 40px;
}

.cancel button {
  background-color: black;
  color: white;
}
.save button {
  background-color: #ce0212;
  color: white;
}

.header-text{
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
