<div class="top">
  <app-topbar></app-topbar>
</div>
<hr />

<div class="section">
  <div class="card">
    <mat-card>
      <mat-card-content>
        <div class="head">
          <mat-card-title>
            <h2>Not Reached</h2>
          </mat-card-title>
        </div>
        <div class="body">
          <h1>{{ companiesNotReached.length }}</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          <div class="head">
            <h2>Reached</h2>
          </div>
        </mat-card-title>
        <div class="body">
          <h1>{{ companiesReached.length }}</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          <div class="head">
            <h2>Rejected</h2>
          </div>
        </mat-card-title>
        <div class="body">
          <h1>{{ companiesRejected.length }}</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          <div class="head">
            <h2>Free credits onboarding</h2>
          </div>
        </mat-card-title>
        <div class="body">
          <h1>{{ companiesOnFreeCreditsOnboarding.length }}</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          <div class="head">
            <h2>Onboarding</h2>
          </div>
        </mat-card-title>
        <div class="body">
          <h1>{{ companieOnboarding.length }}</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="header">
  <span class="search-bar">
    <span class="input">
      Search
      <input
        matInput
        placeholder="Search for Everything, Company Name, Company Email, Website, "
        type="search"
        [(ngModel)]="searchedValue"
        (input)="searchHandler()"
    /></span>
  </span>
  <span>
    <div class="span-buttons">
      <span
        ><button mat-raised-button (click)="startAddingCompany()" class="add">
          Add
        </button>
      </span>
      <span>
        <button mat-raised-button class="filter" [matMenuTriggerFor]="status" (menuOpened)="onMenuOpened()">
          <mat-menu #menu #status [class.mat-elevation-z8]="true" >
            <button
              mat-menu-item
              (click)="filterCompaniesReached('all')"
              id="all"
              [ngStyle]="{color: selectedMenuItem === 'all'? 'blue' : 'black'}"
            >
              All
            </button>
            <button mat-menu-item (click)="filterCompaniesNotReached()">
              Not reached
            </button>
            <button mat-menu-item (click)="filterCompaniesReached('reached')" id="'reached">
              Reached
            </button>
            <button mat-menu-item (click)="filterCompaniesThatRejected()">
              Rejected
            </button>
            <button mat-menu-item (click)="filterCompaniesOnFreeCredit()">
              Free credits onboarding
            </button>
            <button mat-menu-item (click)="filterCompaniesOnboarding()">
              Onboarding
            </button>
          </mat-menu>
          Filter <i class="material-icons">filter_list</i>
        </button>
      </span>
    </div>
  </span>
</div>

<hr />

<!-- <app-table></app-table> -->
<div class="container">
  <table mat-table [dataSource]="dataSource!">
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let company">{{ company.companyName }}</td>
    </ng-container>
    <ng-container matColumnDef="socialMediaLink">
      <th mat-header-cell *matHeaderCellDef>Social Media Link</th>
      <td mat-cell *matCellDef="let company">
        <a href="{{ company.socialMediaLink }}">{{
          company.socialMediaLink
        }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="companyPhone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let company">{{ company.companyPhone }}</td>
    </ng-container>
    <ng-container matColumnDef="companyWebsite">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let company">
        {{ company.companyWebsite }}
      </td>
    </ng-container>
    <ng-container matColumnDef="contactEmail">
      <th mat-header-cell *matHeaderCellDef>Contact Email</th>
      <td mat-cell *matCellDef="let company">{{ company.contactEmail }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let company">{{ company.status }}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let company">
        <button
          type="button"
          class="button-edit"
          mat-icon-button
          (click)="editCompanyDetails(company)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let company">
        <button
          (click)="deleteCompanyRecord(company._id)"
          type="button"
          class="button-delete"
          mat-icon-button
        >
          <mat-icon class="mat-delete-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
