.container {
  width: 800px;
  height: 650px;
}

.demo-inline-calendar-card {
  width: 300px;
  /* margin-bottom: 20px; */
}

.content {
  display: flex;
  flex-direction: row;

}

.content span{
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.buttons span button {
  width: 200px;
  height: 40px;
}

.cancel button {
  /* background-color: ; */
  color: black;
}
.save button {
  background-color: #ce0212;
  color: white;
}

button.example-custom-date-class {
  background: #ce0212;
  border-radius: 100%;
}
