.container {
  width: 800px;
  height: 500px;
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}
.heading{
  padding-left: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 50px; */
}
.buttons span button {
  width: 200px;
  height: 40px;
}

.cancel button {
  background-color: black;
  color: white;
}
.save button {
  background-color: #ce0212;
  color: white;
}

