<div class="top">
  <app-topbar [currentPage]="currentPage"></app-topbar>
</div>
<div class="main-container">
  <div class="top-strip">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="icons">
      <!-- <span>
        <button mat-icon-button>
          <mat-icon>settings_outline</mat-icon>
        </button>
      </span> -->
      <span>
        <button mat-icon-button (click)="navigateToNotifications()">
          <mat-icon>notifications</mat-icon>
        </button>
      </span>
    </div>
  </div>
  <div class="main-content">
    <span class="image-container-container">
      <div class="image-container">
        <span
          ><button mat-icon-button>
            <mat-icon id="camera">camera_enhance</mat-icon>
          </button>
          <p><small>Add photo</small></p></span
        >
      </div>
      <mat-card class="work-section">
        <section>
          <h2>Work Skills</h2>
          <p>Nothing to show for now</p>
        </section>
      </mat-card>
    </span>
    <span class="content">
      <mat-card>
        <span>
          <h2>{{ user.fullName | uppercase }}</h2>
          
        </span>
        <span>
          <h2>Contact Information</h2>
          <p>Address :</p>
          <p>Email : <span>{{ user.email }}</span></p>
          <p>Contact Number :</p>
          <span
          id="edit"
            ><button mat-icon-button><mat-icon>edit_outline</mat-icon></button>
          </span>
        </span>
      </mat-card>

      <mat-card>
        <h2>Basic Information</h2>
        <p>Birthday:</p>
        <p>Gender:</p>
         <span
          id="edit"
            ><button mat-icon-button><mat-icon>edit</mat-icon></button>
          </span>
      </mat-card>
      <div class="bottom-button">
        <button mat-flat-button (click)="goBack()" id="goback">Go back</button>
      </div>
    </span>
  </div>
</div>
