<div class="container">
  <section>
    <h2>Campaigns</h2>
    <div>
      <button
        mat-fab
        extended
        class="add-button"
        (click)="startAddingCampaign()"
      >
        <mat-icon>add</mat-icon>
        Add Campaign
      </button>
    </div>
  </section>
  <table id="campaign-table" class="mat-elevation-z2">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th colspan="3" class="combined-col-first">Acquisition</th>
        <th class="combined-col-first">Activation</th>
        <th class="combined-col-first">Close</th>
        <th class="combined-col-first">Referral</th>
        <th class="combined-col-first"></th>
      </tr>
      <tr>
        <th class="combined-col-second">Product</th>
        <th class="combined-col-second">Campaign</th>
        <th class="with-extra-text combined-col-second" >
          Awareness: <br />
          <span>Number Of Impressions</span>
        </th>
        <th class="with-extra-text combined-col-second">
          Interest: <br />
          <span>Number Of Conversions</span>
        </th>
        <th class="with-extra-text combined-col-second">
          Engagement: <br />
          <span>Number Of Credits Uploads</span>
        </th>
        <th class="with-extra-text combined-col-second">
          Trial: <br />
          <span>Number Of Credits Cards</span>
        </th>
        <th class="with-extra-text combined-col-second">
          Purchase: <br />
          <span>New Credit Purchases</span>
        </th>
        <th class="with-extra-text combined-col-second">
          Referral: <br />
          <span>Number Of Referrals</span>
        </th>
        <th class="with-extra-text combined-col-second">
          Actions: <br />
          <span>Edit/Delete</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campaign of campaignsList">
        <td>{{ campaign.product }}</td>
        <td>{{ campaign.campaign_name }}</td>
        <td>
          {{
            campaign.awareness.impressions > 0
              ? "Impressions: " + campaign.awareness.impressions
              : ""
          }}
          <br />
          {{
            campaign.awareness.reach > 0
              ? "Reach:" + campaign.awareness.reach
              : ""
          }}<br />
          {{
            campaign.awareness.clicks > 0
              ? "Clicks:" + campaign.awareness.clicks
              : ""
          }}<br />
          {{
            campaign.awareness.phone_calls > 0
              ? "Phone calls:" + campaign.awareness.phone_calls
              : ""
          }}<br />
          {{
            campaign.awareness.meetings > 0
              ? "Meetings:" + campaign.awareness.meetings
              : ""
          }}<br />
          <br />
        </td>
        <td>
          {{
            campaign.interest.demo > 0 ? "demo: " + campaign.interest.demo : ""
          }}
          <br />
          {{
            campaign.interest.signups > 0
              ? "Signups:" + campaign.interest.signups
              : ""
          }}
        </td>
        <td>
          {{
            campaign.engagement.media_uploads
              ? "Media uploads:" + campaign.engagement.media_uploads
              : ""
          }}
          <br />
          {{
            campaign.engagement.logins
              ? "Logins:" + campaign.engagement.logins
              : ""
          }}
        </td>
        <td>
          {{
            campaign.activation.add_credit_card > 0
              ? "Add credits card:" + campaign.activation.add_credit_card
              : ""
          }}
        </td>
        <td>
          {{
            campaign.activation.total_credits_purchased > 0
              ? "Total credits purchased: " +
                campaign.activation.total_credits_purchased
              : ""
          }}
        </td>
        <td></td>

        <td>
          <button mat-icon-button (click)="editCampaignDetails(campaign._id)">
            <mat-icon>edit_outline</mat-icon>
          </button>
          <!-- <button
            class="button-edit"
            mat-flat-button
            (click)="editCampaignDetails(campaign._id)"
          >
            edit
          </button> -->
          <button
            class="button-delete"
            mat-icon-button
            (click)="deleteCampaignHandler(campaign._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <!-- <button

            mat-flat-button
            color="blue"
            (click)="deleteCampaignHandler(campaign._id)"
          >
            delete
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
