<nav class="container">
  <span class="span-container">
    <img
      src="./../../../assets/dynaton-logo.png"
      alt="dynaton-logo"
      height="50"
    />
  </span>
  <span class=" span-container">
    <div class="side-nav">
      <!-- <span
        (click)="navigateTo('home')"
        [ngClass]="{ selected: currentPage === 'home' }"
      >
        <i class="material-icons">home</i>
        Home
      </span> -->
      <span
        (click)="navigateTo('domain')"
        [ngClass]="{ selected: currentPage === 'domain' }"
      >
      <i class="material-icons">domain</i>
        Companies
      </span>
      <span
        (click)="navigateTo('campaigns')"
        [ngClass]="{ selected: currentPage === 'campaigns' }"
      >
        <i class="material-icons">campaign</i>
        Campaigns
      </span>
    </div>
  </span>
  <span class="profile-icon span-container">
    <p *ngIf="user">{{ user.fullName | uppercase }}</p>
    <button
      mat-fab
      [matMenuTriggerFor]="menu"
    >
      <i class="material-icons">person</i>
    </button>
    <mat-menu #menu>
      <button mat-menu-item>Edit profile</button>
      <button mat-menu-item (click)="signOutHandler()">Logout</button>
    </mat-menu>
  </span>
</nav>
