ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin-right: 10px; /* Optional: Add spacing between list items */
  width: 100px;
  font-size: 17px;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffff;
  height: 60px;
  z-index: 999;
  margin: 0 auto;
  border-bottom: 2px solid #dadada;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
}

span img {
  margin-left: 20px;
}



.profile-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-icon p {
  justify-self: center;
  margin-top: 7px;
}

.container .span-container {
  width: 100%;
  height: 50px;
  display: flex;
  width: 200px;
  flex-direction: row;
  align-items: center;
}
.container .span-container-second {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button p {
  color: gray;
}

.side-nav {
  width: 15%;
  /* padding: 20px auto; */
  background-color: white;
  /* height: 100%; */
  /* position: fixed; */
  /* left: 0; */
  /* margin-top:20px ; */
  /* border-right: 2px solid #dadada; */
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.side-nav span {
  /* padding: 16px; */
  text-decoration: none;
  /* display: block; */
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  /* margin: 10px auto; */
}

.siden-av a:hover {
  background-color: #ddd;
}

.side-nav span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.side-nav span i {
  color: black;
}

.side-nav span.selected {
  /* border-left: 3px solid #ce0212; */
  color: #ce0212;
  font-size: 25px;
  font-weight: 800;
  border-bottom: 2px solid #ce0212;
}

.side-nav span.selected button {
  color: #ce0212;
}

.side-nav span.selected .material-icons {
  color: #ce0212;
 font-size: 30px;
}
.material-icons {
  font-size: 20px;
  color: #ce0212;
}
