.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.material-icons{
  font-size: 60px;
  color: #ce0212;
}

.container span{
  width: 100px;
  height: 50px;
}
button{
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button p{
  color: gray;
}

.account-button{
  width: fit-content;
  height: fit-content;
}
