<div class="container">
  <div class="error-section" *ngIf="authError !== ''">
    <h2>{{ authError }}</h2>
  </div>
  <mat-card class="content">
    <div class="header">
      <img src="./../../../assets/dynaton-logo.png" alt="logo" width="150" />
    </div>
    <div class="content-container">
      <form #signupForm="ngForm" (ngSubmit)="signUpUser(signupForm)">
        <div class="input-container">
          <p>Register with your name, email & password</p>
        </div>
        <div class="input-container">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Full name"
              name="fullName"
              ngModel
              #fullName="ngModel"
              required
            />
            <mat-error *ngIf="fullName.invalid && fullName.touched"
              >Full name is required</mat-error
            >
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field>
            <input
              matInput
              type="email"
              placeholder="Email"
              name="email"
              ngModel
              #email="ngModel"
              required
            />
            <mat-error *ngIf="email.invalid && email.touched"
              >Email is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Password"
              name="password"
              ngModel
              #password="ngModel"
              required
            />
            <mat-error *ngIf="password.invalid && password.touched"
              >Password is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <input
              
              type="password"
              placeholder="Confirm password"
              name="confirmPassword"
              ngModel
              #confirmPassword="ngModel"
              required
              (input)="checkPasswords(password.value, confirmPassword.value)"
            />
            <!-- <mat-error *ngIf="passwordsDoNotMatch === 'Passwords do not match'"
              >Passwords do not match</mat-error
            > -->
            <!-- <mat-error *ngIf="confirmPassword.touched"
              >Passwords don't match</mat-error
            > -->
          </mat-form-field>
          <span matError *ngIf="passwordsDoNotMatch === true"
            >Passwords do not match</span
          >
        </div>
        <div class="input-container">
          <button
            type="submit"
            mat-stroked-button
            [disabled]="signupForm.invalid ? true : false"
          >
            Sign up
          </button>
        </div>
        <div class="input-container">
          <span class="bottom-div">
            Already have an account? <a routerLink="/login">Sign in</a></span
          >
        </div>
      </form>
    </div>
  </mat-card>
</div>
