.container {
  width: 800px;
  height: 700px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 100px;
}
.buttons span button {
  width: 200px;
  height: 40px;
}

.cancel button {
  /* background-color: ; */
  color: black;
}
.save button {
  background-color: #ce0212;
  color: white;
}

.heading-text {
  padding-left: 20px;
}
