<div class="container">
  <div class="heading-text">
    <h3 mat-dialog-title>Add Company</h3>
  </div>
  <form
    method="post"
    #formData="ngForm"
    (ngSubmit)="addCompanyHandler(formData)"
  >
    <mat-form-field class="form-field">
      <mat-label>Company Name</mat-label>
      <input
        type="text"
        matInput
        ngModel
        name="companyName"
        #companyName="ngModel"
        placeholder="Company Name"
        name="companyName"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Social Media Link</mat-label>
      <input
        type="text"
        matInput
        placeholder="Social Media Link"
        #socialMediaLink="ngModel"
        ngModel
        name="socialMediaLink"
        id="socialMediaLink"
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Phone</mat-label>
      <input
        type="text"
        matInput
        #companyPhone="ngModel"
        placeholder="Phone"
        ngModel
        name="companyPhone"
        id="companyPhone"
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Size</mat-label>
      <mat-select ngModel name="companySize">
        <mat-option value="Not specified">Not specified</mat-option>
        <mat-option value="Mid size">Mid size</mat-option>
        <mat-option value="Micro size">Micro size</mat-option>
        <mat-option value=" Enteprise">Enteprise</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Website</mat-label>
      <input
        type="text"
        matInput
        #companyWebsite="ngModel"
        placeholder="Website"
        ngModel
        name="companyWebsite"
        id="companyWebsite"
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Contact Email</mat-label>
      <input
        type="text"
        matInput
        placeholder="Contact Email"
        #contactEmail="ngModel"
        ngModel
        name="contactEmail"
        id="contactEmail"
        required="true "
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>other Contact</mat-label>
      <input
        type="text"
        matInput
        placeholder="Other Contact"
        #otherContact="ngModel"
        ngModel
        id="otherContact"
        name="otherContact"
      />
    </mat-form-field>
    <div class="buttons">
      <span class="cancel">
        <button type="button" mat-raised-button mat-dialog-close="false">
          Cancel
        </button>
      </span>
      <span class="save">
        <button
          type="submit"
          mat-raised-button
          type="submit"
          mat-dialog-close="true"
          [disabled]="formData.invalid && formData.untouched ? true : false"
          id="save"
        >
          Save
        </button>
      </span>
    </div>
  </form>
</div>
