<!-- <table>
  <tr class="table-row">
    <th>Company Name</th>
    <th>Social Media Link</th>
    <th>Phone</th>
      <th>Website</th>
      <th>Contact Email</th>
      <th>Other Contact</th>
    </tr>
    <tr *ngFor="let company of companies">
      <td>{{ company.companyName }}</td>
      <td>{{ company.socialMediaLink }}</td>
      <td>{{ company.companyPhone }}</td>
      <td>{{ company.companyWebsite }}</td>
      <td>{{ company.contactEmail }}</td>
      <td>{{ company.otherContact }}</td>
    </tr>
  </table> -->
  <div class="container">
  <table mat-table  >
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell >33</td>
    </ng-container>
    <ng-container matColumnDef="socialMediaLink">
      <th mat-header-cell *matHeaderCellDef>Social Media Link</th>
      <td mat-cell >332e</td>
    </ng-container>
    <ng-container matColumnDef="companyPhone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell >afef</td>
    </ng-container>
    <ng-container matColumnDef="companyWebsite">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell >wewd</td>
    </ng-container>
    <ng-container matColumnDef="contactEmail">
      <th mat-header-cell *matHeaderCellDef>Contact Email</th>
      <td mat-cell >wedw</td>
    </ng-container>
    <ng-container matColumnDef="otherContacts">
      <th mat-header-cell *matHeaderCellDef>Other Contact</th>
      <td mat-cell>{{company.otherContact}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
